* {
  margin: 0;
  padding: 0;
}

input {
  background-color: grey;
  color: white;
}

button {
  border: 1px solid black;
  margin: 10px;
  padding: 2px;
}

button:hover {
  background-color: grey;
}