@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #e8e8e8;
  font-family: 'Lato', sans-serif;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;

}
h1 {
  margin-bottom: 30px;
  margin-top: 10px;
}
.one {
  /* background-color: rgba(0, 0, 255, 0.659); */
  background-image: linear-gradient(180deg, rgba(0,223,247,1), rgba(0,24,255,1));
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: inset 0 0 3px #0000008e;

}

.two {
  /* background-color: rgba(255, 0, 0, 0.728); */
  background-image: linear-gradient(180deg, rgb(255, 169, 41), rgba(255,70,0,1));
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: inset 0 0 3px #0000008e;
}
.three {
  /* background-color: rgba(0, 128, 0, 0.742); */
  background-image: linear-gradient(180deg, rgba(173,247,0,1), rgb(0, 118, 45));
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: inset 0 0 3px #0000008e;
}
.four {
  background-image: linear-gradient(180deg, rgba(240,247,0,1), rgba(255,199,0,1));
  /* background-color: rgba(255, 166, 0, 0.783); */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: inset 0 0 3px #0000008e;
}

.six {
  /* background-color: rgba(0, 0, 0, 0.769); */
  background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(63, 63, 63));
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: inset 0 0 3px #0000008e;
}

.activeColor  {
  box-shadow: 0px 2px 10px #888888;
  border: 4px solid white;
  box-shadow: inset 0 0 3px #0000008e;
  transition: all 0.3s ease-in-out;

}
/* linear-gradient(to right, rgba(0, 224, 255, 0.2), rgba(0, 133, 255, 0.2)) 
Blue:   linear-gradient(to right, rgba(0,223,247,0.3), rgba(0,24,255,0.3))
Yellow: linear-gradient(to right, rgba(240,247,0,0.3), rgba(255,199,0,0.3))
Red:    linear-gradient(to right, rgba(247,147,0,0.3), rgba(255,70,0,0.3))
Green:  linear-gradient(to right, rgba(173,247,0,0.3), rgba(0,255,96,0.3))

Grayscale: 

*/



.sliderBtn {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 20px;
}

.active {
  background-color: #2E2E2E;
  color: #F5F5F5;
}


.pictureContainer{
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;  
  border-radius: 5px;
  background-size: 100%;
  transition: all 0.8s ease-in-out;

}

.pictureContainer:hover {
  background-size: 110%;
}

.container {
  padding: 20px;
 
}

.containerRelative {
  position: relative;
  box-shadow: 0px 0px 15px #888888;
  border-radius: 5px;

}

nav {
  position: absolute;
  display: flex;
  right: -10px;
  bottom: -10px;
  background-color: white;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 15px;
  box-shadow: 5px 5px 10px #888888;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.description {
  position: absolute;
  padding: 0px;
  display: flex;
  width: 170px;
  right: 8px;
  bottom: 34px;

}

.descrPad {
  padding: 10px;
 

}

.pictureContainer-enter {
  opacity: 0;
  transform: scale(0.9);
}
.pictureContainer-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.pictureContainer-exit {
  opacity: 1;
}
.pictureContainer-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}